body {
    font-family: Arial;
    margin: 0px;
}

nav {
    height: 70px;
    display: flex;
}

.secondary-block {
    color: white;
    background-color: rgb(186, 122, 4);
}

a {
    color: white;
}

nav h2  {
    margin: 0px;
    padding: 20, 0, 20, 15;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 24px;
    list-style: none;
}

nav li {
    margin-left: 15px;
}

header {
    text-align: center;
    padding: 40px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

header h2 {
    color:  rgb(186, 122, 4);
}

header img {
    width: 150px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);
}

section {
    padding: 40px;
}

#xp ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#xp li {
    margin-bottom: 10px;
}

#xp aside {
    float: right;
}

#education ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#education li {
    margin-bottom: 10px;
}

#education aside {
    float: right;
}

footer {
    padding: 40px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links {
    margin-bottom: 25px;
    width: 390px;
    display: inline-block;
}